.card-button {
    margin: 10px;
    padding: 10px;
}

.card-info-detail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 45px;
    width: 50%;
}
