.header {
    align-items: center;
    background: black;
    display: flex;
    flex-direction: row;

    img {
        box-sizing: unset;
        height: 30px;
        padding: 15px;
    }

    .title {
        color: white;
    }
}
